body{
  background-color:darkslategrey;
  font-family:Verdana;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.quiz-container{
  background-color: black;
  border: 5px solid lightsalmon;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
  color: lightcoral;
}

ul{
  list-style-type: none;
  padding: 5px;
  color:lightgreen;
}
ul li{
  font-size: 1.2rem;
  margin: 1rem 0;
}
ul li label{
  cursor: pointer;
}
button{
  background-color:lightskyblue;
  color: darkblue;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  font-size: 25px;
  font-weight: bold;
}
button:hover{
  background-color: #04adc4;
}
#header{
  color: aqua;
  margin-top: 20px;
  text-align: center;
}
#sep{
  display: block;
}